body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #860d16;
  color: #080808;
  font-family: "Calibri", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

.container {
  text-align: center;
  padding: 30px;
  margin: auto;
  border-radius: 20px;
  background-color: #3330309f;
  flex: 0 0 80%;
}

#quoteBtn {
  background-color: #cce6ff;
  border: none;
  border-radius: 5px;
  color: #473c3c;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  padding: 5px;
  text-transform: capitalize;
}

#quoteBtn:hover {
  color: #080808;
}

#quoteBtn:active {
  transform: translateY(2px);
}

blockquote {
  background-color: #cce6ff;
  border-left: 50px solid #181717;
  margin: 1.5rem;
  padding: 0.5rem;
}

#quoteAuthor {
  color: #080808;
}
